body {
    background-color: rgb(245, 203, 245);
    font-family: 'Satoshi', sans-serif;
    margin: 0;
}

.container {
    max-width: 900px;
    margin: 1rem 2rem;
}

.header {
display: flex;
justify-content: flex-end;
align-items: center;
flex-wrap: wrap;
background-color: white;
padding: 0 1.5rem;
box-shadow: 0 0 7px 2px rgb(215, 115, 215);
}


.form-group {
  display: flex;
  flex-direction: column;
  margin: .5rem;
}

.btn-go-to-flashcards {
    margin-top: 1rem; /* Adjust the margin as needed */
  }
  
  .btn-go-to-flashcards:hover {
    background-color: hsl(351, 66%, 61%);
  }

.btn {
    background-color:hsl(351, 81%, 71%);
    color: white;
    padding: .5em 1em;
    border-radius: .3em;
    border: none; 
    cursor: pointer;
}

.btn:hover {
    background-color: hsl(351, 66%, 61%);
}

.form-group > label {
    color: 0 0 7px 2px rgb(244, 194, 244);
    font-size: .75rem;
    margin-bottom: .25rem;
}

.card-grid {
    display: grid;
    align-items: center;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 1rem;
}

.card {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    border-radius: .25rem;
    box-shadow: 0 0 7px 2px rgb(215, 115, 215);
    background-color: white;
    
    
    transform: rotateX(var(--rotate-x, 0));
    transform-style: preserve-3d;
    transition: 300ms ;
    transform: perspective(1000px) rotateX(var(--rotate-x, 0))
    translateY(var(--translate-y, 0));
    cursor: pointer;

}

.card:hover {
    --translate-y: -2px;
}

.card.flip {
    --rotate-x: 180deg;
}

.card .front {
    left: 0;
}

.card .front,
.card .back {
    position: absolute;
    padding: 1 rem;
    backface-visibility: hidden;
}

.card .back {
    transform: rotateX(180deg);
}

.flashcard-option {
    margin-top: .5rem;
}

.flashcard-option {
    margin-top: .35rem;
    color: #242424;
    font-size: .75rem;
}

.flashcard-option:first-child {
    margin-top: 0;
}
